crypto-knight.site {
    reverse_proxy gateway:8080
}

rabbitmq.crypto-knight.site {
    reverse_proxy http://10.10.0.3:15672
}

kibana.crypto-knight.site {
    reverse_proxy http://10.10.0.3:5601
}

grafana.crypto-knight.site {
    reverse_proxy http://10.10.0.3:3000
}