version: "3.9"
services:
  gateway:
    image: antgoncharik/crypto-knight-gateway
    container_name: gateway
    restart: always
    networks:
      - share-net
      - wg-net
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - share-net
      - wg-net
    network_mode: service:wireguard
volumes:
  caddy_data:
  caddy_config:
networks:
  share-net:
    external: true
  wg-net:
    external: true
